@charset "utf-8";
body{
	background-color:#11a6d4;
}
#login-box{
	background-color:#1992b7;
	width:380px;
	height:260px;
	margin:140px auto 0px;
	border-radius: 5px;      
}
    
#login-box-interno{
	width:360px;
	height:240px;
	background-color:#fdfdfd;
	position:absolute;
	margin:10px;
	border-radius:5px;
	box-shadow:0px 0px 5px black;
	overflow:hidden;
}
    
#login-box-label{
      
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,ecf1f4+100 */
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #ecf1f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#ecf1f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f0f9ff 0%,#ecf1f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#ecf1f4',GradientType=0 ); /* IE6-9 */


	height:45px;
	text-align:center;

	font: bold 14px/45px sans-serif;
	border-top-right-radius:5px;
	border-bottom:solid 1px #bfc3c5;
	box-shadow:1px 0px 3px #dedede;
	color:#555555;
	text-shadow:1px 0px 1px white;
}
    
.input-div{
	margin:20px;
	padding:5px;
	background-color:#f2f5f7;
	border-radius:3px;
}
    
.input-div input{
	width:310px;
	height:35px;
	padding-left:5px;
	font:normal 14px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
	outline:none;      
}
    
.input-div:hover{
    background-color:#e0f1fc;
}
.input-div:hover input{
    border-color:#7d6cdd;
}
#input-senha{
    margin-top:-10px;
}
#botoes{
    width:310px;
    margin-left:25px;
}
#botao{
    float:right;
    padding:5px 15px;
    font:bold 12px sans-serif;
    border-radius:10px;
    text-shadow:0px 1px white;
    border: 1px solid #9ed9c3;
      
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf6f9+0,cde5ee+100 */
	background: #edf6f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #edf6f9 0%, #cde5ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #edf6f9 0%,#cde5ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #edf6f9 0%,#cde5ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6f9', endColorstr='#cde5ee',GradientType=0 ); /* IE6-9 */
    color:#527988;
    box-shadow:0px 0px 8px #c9c9c9;

}

#botao:hover{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cde5ee+0,edf6f9+100 */
	background: #cde5ee; /* Old browsers */
	background: -moz-linear-gradient(top,  #cde5ee 0%, #edf6f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #cde5ee 0%,#edf6f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #cde5ee 0%,#edf6f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde5ee', endColorstr='#edf6f9',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

#lembrar-senha{
      font:normal 12px sans-serif; 
}


#msg{
    background-color: #f3fafd;
    padding: 15px;
    border-bottom: 5px solid #eaeff3;
    box-shadow:0px 1px 10px #0e89af;
    color: #c79810;
    font: bold 14px Arial;
    text-align: center;
    display:none;
}

#login-box-footer{
    width:380px;
	height:20px;
	margin:10px auto 0px;
	color:white;
	text-align: center;

}






