@charset "utf-8";

/* basic elements */
html {
	margin: 0;
	padding: 0;
}

body { 
	
	background-repeat:no-repeat;
	background-color:#a1dbff;
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 	
	margin: 0; 
	padding: 0;

}
p { 
	margin-top: 0; 
	text-align: justify;
}

h1{
	font: bold 21px sans-serif;
	color: #7D775C;
	text-align: center;
	padding-top: 5px;
}	



h3 { 
	font: bold 16px sans-serif;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #000;
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #000;
}

a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
}


#wrapper {
	width:1024px; /*Largura*/
	height:1000px; /*Altura*/
	margin:auto;
}

#topo{
	width:1024px;
	height:130px;
	margin: auto;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

}


#topo_logo{
	width:512px;
	height:106px;
	margin-top:10px;
	margin-left:15px;
	float:left;
}

img.logo {
	opacity: 1.0; 
	-moz-opacity: 1.0;
	Filter: Alpha(Opacity=100);
	height: 80px;
	width: 350px;
	margin-left: 10px;
}


img.logo:hover {
	opacity: 0.9; 
	-moz-opacity: 0.9;
	Filter: Alpha(Opacity=70);
}

#topo_menu{	
	float:right;
	width:350px;
	height:30px;
	margin-top:40px;
	padding-top:7px;
	margin-left: 75px;

}

#topo_menu ul{
	padding:0px;
	margin:0px;
	list-style:none;
}

#topo_menu ul li { display: inline; }

#topo_menu ul li a {
	border-radius: 10px;
	font-size:16px;
	padding: 2px 10px;
	display: inline-block; 
	/* visual do link */
	color: #333;
	text-decoration: none;
}

#topo_menu ul li a:hover {
	background:#88DCF4;
	padding: 1px 10px;
	display: inline-block; 
	/* visual do link */
	color: #333;
	text-decoration: none;
	border-bottom:#15B7E5 solid 3px;
}

#conteudo{
	width:1024px;
	height:1150px;
	background:#FFFFFF;
	position: absolute;
	border-radius: 10px
}


#mapa{
	background:#FFFFFF;
	width:650px;
	height:800px;	
	float:left;
	margin-top:5px;
	margin-left:5px;

}

#mapa-escolha{
	width: 300px;
	height: 50px;
	margin: 15px 0 0 300px;
	float: right;
	position:absolute; 
	z-index: 2;
	text-align: center;
}

.menu{
	list-style:  none;
	float:left; 
	padding-left:25px;

}

.menu li{
	position:relative;
	float:left;
	border-right:1px solid #c0c0c0;
	cursor: pointer;
	width: 100px;
	height: 30px;
	color:#fff;
	margin-top: -10px;
	padding-top: 10px;
	border-radius:10px;
	margin-left: 10px;

}


.active {background-color:#15A0DD;}
.desactive{background:#747475;}


#mapa #svg{
	-ms-user-select:none;
	background: #FFFFFF;
	width:650px;
	height:1100px;
	position:relative;
	top:0px; 
	left:0px;
	z-index: 1;
}

#footer{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1dbff+0,cbebff+53,f0f9ff+100 */
	background: #a1dbff; /* Old browsers */ /* FF3.6-15 */
	background: -webkit-linear-gradient(#a1dbff 0%, #cbebff 53%, #f0f9ff 100%);
	background: -o-linear-gradient(#a1dbff 0%, #cbebff 53%, #f0f9ff 100%);
	background: linear-gradient(#a1dbff 0%, #cbebff 53%, #f0f9ff 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff',GradientType=0 ); /* IE6-9 */
	width:100%;
	margin-top: 150px;
	height:100px;

}

#footer-label{
	padding-top: 20px;
	text-align: center;
	font: normal 14px sans-serif;
}

#carregando {
float: left;
width: 100px;
padding-left: 25%;
padding-top: 25%;
font: 13px "Trebuchet MS", Tahoma, Verdana;	
text-align:center;	
color:red;	
cursor:hand;
}



#menu_direita{
	width:350px;
	height: 1140px;
	background:#a1dbff;
	float:right;
	margin-top:5px;
	margin-right:5px;
	margin-bottom: 10px;
	border-radius: 10px;	
}

#parada_prog{
	display: none;
	background-color: #88d1fc;
	box-shadow:0px 1px 10px #0e89af;
	color: #c79810;
	margin-left:5px;
	width: 339px;
	height: 150px;
	border-radius: 0 0 10px 10px ;
}

#parada_prog_adm{
	display: none;
}

#parada_prog h2{
	font: bold 20px sans-serif;
	color: #555753;
	padding-left: 10px;
}

#parada_prog p{
	font: bold 15px sans-serif;
	color: #555753;
	padding-left: 10px;

}

#resultado{
	width: 339px;
	height: auto;
	float: right;
	margin-left: 5px;
}

#resultado table th{
	font-size: 16px;
	width: 338px;
	text-align: center;
}

#resultado table{
	font-size: 12px;
	width: 338px;
	text-align: left;
}




#sobre{
	width: 600px;
	height:300px;
	margin-left: 10px;
}

#sobre-label p{
	font: normal 14px arial;
	text-align: justify;
}









/*STYLE FORM PARADA PROGRAMADA*/

#parada_prog input[type="text"] {
	display: block;
	margin: 0;
	width: 90%;
	font-family: sans-serif;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
}

textarea{
	display: block;
	width: 90%;
}

tspan {
	-moz-user-select:none;
	font: bold 12px sans-serif;
	cursor: default;
	line-height:125%;
	letter-spacing:0px;
	word-spacing:0px;
	fill:#000;
}



path.normal{
	stroke:#000000;
	stroke-width:1px;
	fill-rule:evenodd;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;
	
	fill:#747475;
}

path.alert{
	stroke:#000000;
	stroke-width:1px;
	fill-rule:evenodd;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;	
	fill:#e7423c;
}






#corpo_adm path.alert{
	stroke:#000000;
	stroke-width:1px;
	fill-rule:evenodd;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;	
	fill:#e7423c;
}

#corpo_adm path.alert{
	stroke:#000000;
	stroke-width:1px;
	fill-rule:evenodd;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;	
	fill:#e7423c;
}


#corpo_adm path.normal:hover{
	fill:#929292;
	cursor:pointer;

}

#corpo_adm path.alert:hover{
	fill:#E3261F;
	cursor:pointer;
}

/*TOOLTIP*/
#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}








.menu-label{
	left: 50%;
	margin-left: 100px; /* A metade de sua largura. */
	width: 60%; /* O valor que você desejar. */
	height: 40px;
	text-align: center;
	display: block;
	cursor: pointer;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}


.menu-corpo{
	display: none;
	text-align: center;


	width: 60%; /* O valor que você desejar. */
	margin-left: 100px; /* A metade de sua largura. */

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2e1ff+0,66b6fc+100;Blue+3D+%236 */
	background: #b2e1ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #b2e1ff 0%, #66b6fc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #b2e1ff 0%,#66b6fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 ); /* IE6-9 */
}


..table {
	visibility: hidden;
}